///* ========================================================================
//   #GLOBAL
//   ======================================================================== */
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.


$font-family: "Aften Screen", Arial, sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-semibold: 600;

$inuit-wrapper-width: 86.25rem;


$color-brand-primary: #FF5C5C;
$color-brand-secondary: #0066FF;
$color-brand-tietrary: #FFCC00;
$color-dark: #242424;


$text-color: $color-dark;


